:root {
	--colorAccent: #1d7cff;
	--colorChange: rgba(142, 221, 245, 0.3);
	--colorWall: rgba(200, 200, 200, 0.5);
	--colorWallBorder: rgba(255, 255, 255, 0.3);
	--colorInputBackground: rgba(127, 127, 127, 0.2);
	--colorForeground: #fff;
	--colorLabel: #bbb;
	--colorBorders: rgba(204, 204, 204, 0.2);
	--colorFormBackground: rgba(0, 0, 0, 0.4);
	--borderRadius: 6px;
}

html,
body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-content: center;
	background: linear-gradient(#3d0062, #00326c);
	color: var(--colorForeground);
	font-family: Avenir Next, system-ui, sans-serif;
	font-size: 16px;
}
html {
	min-height: 100vh
}


::selection {
	background: var(--colorAccent);
	color: #fff;
}

* {
	box-sizing: border-box;
}


.PaintCalculator {
	align-self: center;
	width: 350px;
	padding: 25px;
	background: var(--colorFormBackground);
}

@media (max-width: 480px) {
	.PaintCalculator {
		width: 100vw;
	}
}

h1 {
	padding-bottom: 4px;
	border-bottom: 1px solid var(--colorBorders);
	margin-top: 12px;
	font-size: 28px;
}

input {
	border: 0;
	border-bottom: var(--colorBorders);
	outline: 0;
	color: var(--colorAccent);
	background-size: 0 1px;
	background-color: var(--colorInputBackground);
	background-image: linear-gradient(var(--colorAccent) 0%, var(--colorAccent) 100%);
	background-repeat: no-repeat;
	background-position: bottom -1px center;
	transition: background-size 260ms ease-in-out;
}
input:focus {
	background-size: 100% 1px;
}

fieldset {
	border: 1px solid var(--colorBorders);
	margin-top: 36px;
	border-radius: var(--borderRadius);
	background: rgba(0, 0, 0, 0.1);
}
fieldset legend {
	padding: 0;
	margin-bottom: 7px;
	font-weight: bold;
	font-size: 1.1rem;
}

.RoomWrap {
	height: 240px;
	pointer-events: none; /* Just in case it grows over the inputs */
}
.Room {
	background: transparent;
	transform-style: preserve-3d;
	transform: translate(60px, 100px) rotateX(45deg) rotateZ(45deg);
}
.Room .Wall {
	position: absolute;
	border: 1px solid var(--colorWallBorder);
	transform-origin: top left;
	background: var(--colorWall);
	transition: all 180ms ease-in-out;
}


.SizeInputs {
	margin-top: 40px;
}
.SizeInputs label {
	display: inline-block;
	color: var(--colorLabel);
	font-size: .8rem;
}
.SizeInputs label:not(:last-of-type) {
	margin-right: 20px;
}
.SizeInputs input {
	display: block;
	width: 50px;
	padding: 4px 0 4px 5px;
	margin-top: 3px;
	font-weight: bold;
	font-size: 1.1rem;
	text-align: left;
}


.WallFinishRadio :is(input, label) {
	cursor: pointer;
}
.WallFinishRadio :is(input, label):active {
	cursor: grabbing;
}
.WallFinishRadio label:not(:last-of-type) {
	margin-right: 14px;
}
.WallFinishRadio input[type=radio] {
	margin-right: 8px;
}


.OutputDisplay output {
	padding: 5px;
	font-weight: bold;
	border-radius: 8px;
	font-size: 2rem;
}

.feedbackPulse {
	animation: kfPulse 1800ms 1;
}

@keyframes kfPulse {
	0% {
		background-color: var(--colorChange);
	}
}

